@{
    ViewData["Title"] = "Feedback Home Page";
}

<style>
    article {
        margin-left: 600px;
        padding: 1em;
        overflow: hidden;
    }

    nav {
        float: left;
        max-width: 160px;
        margin: 0;
        padding: 1em;
    }
</style>



<table width="100%">
    <tr>
        <td></td>
        <td>
            <h1 style="font-weight:500;">Please add your QnA pair!</h1>
            <h2 style="font-weight:300;">We're eager to know about what you think!</h2>
        </td>

    </tr>
</table>

<table width="100%">
    <tr>
        <td>
            <input id="key" type="hidden" size="40" value="@(ViewBag.SpeechKey)" />
            <input id="languageOptions" type="hidden" value="en-US" />
            <input id="formatOptions" type="hidden" value="Simple" />
        </td>
    </tr>
</table>

<nav>
    <form method="POST">
        <table width="100%">
            <tr>
                <td><textarea id="hypothesisDiv" name="question" placeholder="Type your question" style="width:500px;height:50px;margin-bottom:10px"></textarea></td>
            </tr>
            <tr>
                <td><textarea id="hypothesisDiv" name="answer" placeholder="Type your answer" style="width:500px;height:50px;margin-bottom:10px"></textarea></td>
            </tr>

            <tr>
                <select name="department" style="width:500px;height:50px;margin-bottom:10px">
                    <option value="departmentA">Department A</option>
                    <option value="departmentB">Department B</option>
                    <option value="departmentC">Department C</option>
                </select>
            </tr>
            <tr>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</nav>

<article>
    <!--<iframe src='https://webchat.botframework.com/embed/myqnavals?s=e8joe2NMj-Q.cwA.cDA.VOnrHSWDElARr2hDn3sZq9x64QzSArIYP5fZfho-Nj0' width="500" height="500"></iframe>
    -->
    <iframe src='@ViewBag.WebChatUrl' width="500" height="500"></iframe>
</article>







































